@font-face {
    font-family: 'CursorGothic';
    src: url('./assets/fonts/CursorGothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #14120b;
    color: #edecec;
    font-family: 'CursorGothic',Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 5.625rem;
    padding: 0 1.25em;
}

/*---------------------- nav section ---------------------------------------- */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #14120b;
    padding: 0 110px;
}

.logo-container {
    width: 95px;
}

.logo-container > img {
    width: 100%;
    height: 100%;
    display: block;
}

.nav-container, .nav-links {
    display: flex;
}

.nav-container {
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    font-size: .875rem;
}

.nav-links > li {
    list-style: none;
}

.nav-link {
    color: inherit;
    text-decoration: none;
    padding: 5px 15px;
    line-height: 1.5;
    cursor: pointer;
}

.nav-link:hover {
    color: #edececbf;
}

.nav-btn > button {
    padding: 5px 10px;
    border-radius: 3.40282e38px;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}

.sign-in-btn {
    border: 1px solid #edecec33;
    background-color: #1b1913;
    color: #edecec;
    margin-right: 5px;
}

.sign-in-btn:hover,
.sign-in-btn:focus {
    background-color: #201e18;
}

.download-btn {
    border: 1px solid #edecec;
    background-color: #edecec;
    color: #14120b;
}

.download-btn:hover,
.download-btn:focus {
    background-color: #d7d6d5;   
}

.red-accent {
    color: #f54e00;
}

.red-accent:hover {
    color: #e04b06e7;
}

/* ------------------------- hero section --------------------------------------- */

.hero-container {
    padding-top: 112px;
    padding-bottom: 62px;
}

.hero-content {
    margin-bottom: 56px;
    max-width: 65ch;
}

.hero-heading {
    text-wrap: balance;
    font-weight: 400;
    font-size: 1.625rem;
    line-height: 1.4;
    margin-bottom: 22.4px;
}

.hero-btn {
    border: 1px solid #edecec;
    border-radius: 3.40282e38px;
    cursor: pointer;
    font-size: medium;
    padding: 10px 21px;
    font-family: inherit;
    font-size: inherit;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #d7d6d5; 
}

.hero-img-container {
    border-radius: 5px;
    height: 680px;
    position: relative;
}

.hero-img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
}

.hero-img1 {
    width: 75%;
    position: absolute;
    top: 9%;
    left: 10%;
    border-radius: 10px;
}

.hero-img2 {
    width: 30%;
    position: absolute;
    top: 45%;
    left: 60%;
    border-radius: 3%;
}

/* Company Logos */

.company-logos-section-heading {
    font-size: .875rem;
    text-align: center;
    margin-bottom: 22.400px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    font-weight: 400;
}

.company-logos {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 33px;
}

.company-logo {
    background-color: #1b1913;
    border-radius: 4px;
    width: 153px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Products */

.products {
    padding: 67px 0;
}


.product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 17.5px;
    background-color: #1b1913;
    border-radius: 4px;
    margin-bottom: 67px;
    cursor: pointer;
}

.product-container:hover {
    background-color: #25231c;
}

.product-content {
    width: 35%;
}

.product-content > p {
    margin-bottom: 0.75em;
    font-size: 1.25rem;
    font-weight: 400;
}

.content-text {
    opacity: 0.7;
}

.row-reverse {
    flex-direction: row-reverse;
}

.img-container {
    width: 840px;
    position: relative;
    border-radius: 4px;
    width: 63%;
}

.bg-img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.product-img {
    max-width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 8px;
}

/*--------------------- testimonials -------------------------------*/

.testimonials-heading {
    text-align: center;
    text-wrap: balance;
    font-size: 2.25rem;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 1em;
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1em;
    margin: 0 auto;
    margin-bottom: 62.7px;
}

.testimonial-container {
    padding: 15px 17px 17px 17px;
    background-color: #1b1913;
    border-radius: 4px;
    line-height: 1.5;
    letter-spacing: 0.005em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.testimonial-author {
    display: flex;
    align-items: center;
    margin-top: 2.5em;
    gap: 15px;
}

.testimonial-author > img {
    object-fit: cover;
    border-radius: 5px;
    width: 40px;
}

.author-info > .designation {
    opacity: .7;
}

/* -------------------------------------product cards -----------------------------*/

.cards-section {
    padding-top: 62.7px;
}

.cards-heading {
    font-size: 1.625rem;
    line-height: 1.25;
    font-weight: 400;
    margin-bottom: .75em;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin-bottom: 7.8375rem;
}

.card {
    padding: 15px 17px 17px 17px;
    background-color: #1b1913;
    border-radius: 4px;
    line-height: 1.5;
    letter-spacing: 0.005em;
    cursor: pointer;
}

.card:hover {
    background-color: #201e18;
}

.card-img-container {
    width: 24.4375rem;
    height: 24.4375rem;
    border: 1px solid red;
}

/*------------------------------------- changelog ---------------------------------------------*/

.changelog-section {
    margin-bottom: 7.8375rem;
}

.changelog-heading {
    font-size: 1.625rem;
    line-height: 1.25;
    font-weight: 400;
    margin-bottom: .75em;
}

.changelog-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.changelog {
    padding: 15.9px 17.5px 20px 17.5px;
    background-color: #1b1913;
    width: 317px;
}


/*---------------------------------------------- First CTA -------------------------------*/

.cta-section {
    margin-bottom: 7.8375rem;
}

.cta-heading {
    text-wrap: balance;
    font-weight: 400;
    font-size: 2.25rem;
    margin-bottom: 22.4px;
    width: 25ch;
}

.cta-btn {
    font-family: inherit;
    font-size: inherit;
    padding: 12.480px 21.6px;
    border: 1px solid #edecec;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 3.5em;
}

.cta-btn:hover,
.cta-btn:focus {
    background-color: #d7d6d5; 
}

.cta-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*---------------------------- highlights section------------------------------------ */

.highlights-section {
    padding: 90px 110px;
    background-color: #1b1913;
    display: flex;
}

.highlights-heading {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.08px;
    align-self: flex-start;
    flex: 1.5;
    position: sticky;
    top: 0;
    z-index: 1;
}

.highlights {
    flex: 4;
}

.highlight-container {
    width: 65%;
    padding: 15px 17px 17px 17px;
    background-color: #201e18;
    cursor: pointer;
    margin-bottom: .75em;
    border-radius: 4px;
}

.highlight-container:hover,
.highlight-container:focus {
    background-color: #2e2c25;
}

.highlights > .highlight-container:nth-child(n + 3) {
    margin-bottom: 1.25em;
}

.highlight-title {
    color: #edecec;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.08px;
}

.highlight-content {
    margin-bottom: 1.5em;
    max-width: 45ch;
}

.highlight-content,
.highlight-footer {
    color: #edecec99;
    letter-spacing: 0.08px
}

/*---------------------- Final CTA ------------------------------------------------ */

.final-cta-container {
    padding: 134px 0;
    text-align: center;
}

.final-cta-container > h2 {
    font-size: 4.5rem;
    line-height: 1.1;
    font-weight: 400;
    letter-spacing: -2.16px;
    margin-bottom: 22.4px;
}

.final-cta-container > button {
    border: 1px solid #edecec;
    border-radius: 3.40282e38px;
    cursor: pointer;
    font-size: medium;
    padding: 10px 21px;
    font-family: inherit;
    font-size: inherit;
}

.final-cta-container > button:hover,
.final-cta-container > button:focus {
    background-color: #d7d6d5; 
}

/*----------------------------------------- footer ----------------------------------------*/

footer {
    padding: 67px 110px 30px 110px;
    background-color: #1b1913;
}

.footer-nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 100px;
}

.column-title {
    color: #edecec99;
    font-size: .875rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.14px;
    margin-bottom: .5em;
}

.link-item > a {
    text-decoration: none;
    color: #edecec;
    display: inline-block;
    padding: .35em 0;
} 

.footer-bottom {
    display: flex;
    justify-content: space-between;
}
