*,
*::after,
*::before{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #08090B;
}

h1,h2 {
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 3.84rem;
    font-weight: 600;
    letter-spacing: -1.2288px; 
    width: 15ch;
    text-wrap: balance;  
}

h2 {
    font-size: 1.125rem;
    font-weight: 400;
    width: 40ch;
}

.btn {
    padding: 4.5px 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    font-family: inherit;
}

/*---------------------------- navbar -------------------------------------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

nav {
    margin: 0 208px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}

.nav-container > ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #08090B;
}

.contact-sales-btn {
    /* background-color: ; */
}

.free-btn {
    background-color: #fff;
    color: #08090B;
}

/*---------------------------- Hero section --------------------------------------------*/

.hero-section {
    min-height: 100vh;
    background-image: url('https://www.mintlify.com/hero/bg-light.svg'); 
    background-repeat: no-repeat;
    background-color: rgb(129, 219, 219);
    background-size: cover;
    position: relative;
    margin-bottom: 450px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    min-height: 100vh;
}

.hero-anchor-link {
    border: 1px solid red;
    order: -1;
    margin-top: 110px;
    margin-bottom: 30px;
}

.hero-img-container {
    width: 1075px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
}

.hero-img-container > img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
}

/* partners section */

.partners-section {
    display: grid;
    padding: 50px 300px 144px;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.partner-logo {
    padding: 15px 25px;
    width: 200px;
    justify-content: center;
}

/*------------------------------- feature-intro -----------------------------*/

.features-intro {
    padding-bottom: 144px;
}

.features-intro-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}


.features-intro-heading > h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 10px;
}

.features-intro-heading > p {
    text-align: center;
    color: #191d20cc;
    text-wrap: balance;
    margin: 0 auto;
    width: 65ch;
}

/*----------------------------------- feature-cards -----------------------------------*/

.features-intro-cards {
    display: grid;
    justify-content: center;
    padding: 0 250px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.feature-card {
    border: 1px solid black;
    padding: 15px 28px;
    border-radius: 10px;
}

.feature-image-container > img {
    width: 100%;
    height: 100%;
}

.features-intro-cards > .feature-card:last-child{
    grid-column: 1 / -1;
    text-align: center;

    p {
        width: 50ch;
        margin: 5px auto;    
    }
}

/*  */
