*,
*::after,
*::before{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #08090B;
}

h1,h2 {
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 3.84rem;
    font-weight: 600;
    letter-spacing: -1.2288px; 
    width: 15ch;
    text-wrap: balance;  
}

h2 {
    font-size: 1.125rem;
    font-weight: 400;
    width: 40ch;
}

.btn {
    padding: 4.5px 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    font-family: inherit;
}

.green-accent-text {
    color: #0c8c5e;
    letter-spacing: .6px;
    font-weight: 500;
    line-height: 1.5;
    font-size: 12px;
}

/*---------------------------- navbar -------------------------------------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    animation: become-glass linear forwards;
    animation-timeline: scroll();
}

@keyframes become-glass {
    to {
        background-color: rgba(255, 255, 255, .5);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }
}

nav {
    margin: 0 208px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    color: #fff;
    animation: nav-color-swap linear forwards;;
    animation-timeline: scroll();
    animation-range: 60vh calc(60vh + 1px);
}

@keyframes nav-color-swap {
    to {
        color: #08090B;
        font-weight: 500;
    }
}

.nav-container > ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

.contact-sales-btn {
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(10px);
    font-size: 15px;
    font-weight: 500;
    color: inherit;
    animation: bth-color-solid linear forwards;;
    animation-timeline: scroll();
    animation-range: 60vh calc(60vh + 1px);
}

@keyframes bth-color-solid {
    to {
        color: #08090B;
        font-weight: 500;
    }
}

.free-btn {
    background-color: #fff;
    color: #08090B;
    font-size: 15px;
    font-weight: 500;
    animation: btn-color-change linear forwards;;
    animation-timeline: scroll();
    animation-range: 60vh calc(60vh + 1px);
}

@keyframes btn-color-change {
    to {
        color: #fff;
        background-color: #08090B;
    }
}

/*---------------------------- Hero section --------------------------------------------*/

.hero-section {
    min-height: 100vh;
    background-image: url('https://www.mintlify.com/hero/bg-light.svg'); 
    background-repeat: no-repeat;
    background-color: rgb(129, 219, 219);
    background-size: cover;
    position: relative;
    margin-bottom: 450px;
    color: #fff;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    min-height: 100vh;
}

.hero-anchor-link {
    order: -1;
    margin-top: 110px;
    margin-bottom: 30px;
    padding: 5px 6px;
    border-radius: 15px;
    font-size: .875rem;
    background-color: rgba(238, 233, 233, 0.1);

    a { 
        text-decoration: none;
        color: #fff;
    }
}

.new-container {
    background-color: #0c8c5e;
    padding: 1px 6px;
    display: inline-block;
    border-radius: 15px;
    margin-right: 3px;
}

.arrow-container {
    background-color: #fff;
    display: inline-block;
    width: 15px;
    border-radius: 50%;
    color: #08090B;
    text-align: center;
    margin-left: 5px;
}

.input-container {
    background-color: rgba(238, 233, 233, 0.1);
    border-radius: 30px;
    padding: 5px 10px;
}

.email-input {
    padding: 10px 15px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
}

.email-input::placeholder {
    color: #fff;
    opacity: 1;
}

.email-submit-btn {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    font-family: inherit;
    font-weight: 500;
}

.hero-img-container {
    width: 1075px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
}

.hero-img-container > img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
}

/*----------------------------- partners section --------------------------------------*/

.partners-section {
    display: grid;
    padding: 50px 300px 144px;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.partner-logo {
    align-self: center;
    padding: 15px 25px;
    width: 200px;
    justify-content: center;
}

/*------------------------------- feature-intro -----------------------------*/

.features-intro {
    padding-bottom: 144px;
}

.features-intro-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}


.features-intro-heading > h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 10px;
}

.features-intro-heading > p {
    text-align: center;
    color: #191d20cc;
    text-wrap: balance;
    margin: 0 auto;
    width: 65ch;
}

/*----------------------------------- feature-cards -----------------------------------*/

.features-intro-cards {
    display: grid;
    justify-content: center;
    padding: 0 250px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.feature-card {
    border: 1px solid rgb(233, 227, 227);
    padding: 15px 28px;
    border-radius: 10px;
}

.feature-card > h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 14px 0;
}

.feature-image-container > img {
    width: 100%;
    height: 100%;
}

.features-intro-cards > .feature-card:last-child{
    grid-column: 1 / -1;
    text-align: center;

    p {
        width: 50ch;
        margin: 5px auto;    
    }
}

/*------------------------------ enterprise section --------------------------------- */
        
.enterprise-section { 
    padding: 96px 250px;
    background-color: #08090a08;
}

.header-content-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 50px;
}

.header-content > h2 {
    text-align: left;
    font-weight: 600;
    line-height: 1.1;
    font-size: 40px;
    letter-spacing: -0.8px;
    width: 20ch;
    text-wrap: balance;
    margin: 16px 0;
}

.header-content-container > button {
    background-color: #08090B;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 500;
    font-family: inherit;
}

.features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    gap: 10px;
}

.feature-item > * {
    margin-bottom: 20px;
}

.customer-story-card {
    width: 100%;
    border-radius: 16px;
    margin-bottom: 30px;
}

/* add opacity to image on hover or some kind of blur */

.customer-story-card > img {
    width: 100%;
    display: block;
    border-radius: 16px;
} 

.client-logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.client-logos > img {
    width: 200px;
}

/*---------------------------- clients-section ----------------------------------*/

.clients-carousel {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    padding-left: 250px;
} 

.clients-carousel::-webkit-scrollbar {
  display: none;
}

.clients-section {
    padding: 96px 0;
}

.clients-section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 2em;
}

.clients-section-header > h2 {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -0.8px;
}

.clients-section-header > p {
    width: 60ch;
    text-align: center;
    opacity: 0.7;
}

.client-container {
    width: 24.625rem;
    border-radius: 10px;
    flex: 0 0 394px;
}

.client-container > img {
    width: 100%;
    display: block;
    border-radius: 10px;
    margin-bottom: 1.5em;
}

.client-container > p {
    opacity: 0.7;
}

.client-container > a{
    display: inline-block;
    margin-top: 1.25em;
    text-decoration: none;
    color: #08090B;
    opacity: 0.5;
}

/*---------------------------------------------- Final cta --------------------------------------------------*/

.final-cta {
    padding: 96px 250px;
}


.final-cta-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.final-cta-header > h2 {
    font-size: 40px;
    font-weight: 600;
    width: 18ch;
    line-height: 1;
    margin-bottom: 20px;
}

.cta-buttons {
    margin-top: 3em;
}

.cta-buttons > * {
    background-color: #08090B;
    color: #fff;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 500;
    font-family: inherit;
    border: 1px solid none;
    cursor: pointer;
}

.cta-buttons > button:nth-child(2){
    background-color: #fff;
    color: #08090B;
    border: 1px solid rgb(233, 227, 227);
    margin-left: 5px;
}

.cta-buttons :first-child:hover {
    background-color: #32353a;
}

.cta-buttons :nth-child(2):hover {
    background-color: rgb(233, 227, 227);
}

.final-cta-body {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.cta-icon-container {
    width: 52px;
    border: 1px solid rgb(233, 227, 227);
    border-radius: 10px;
    margin: 0 auto 30px;
}

.cta-icon-container > img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.final-cta-body h3 {
    font-weight: 500;
    margin-bottom: 10px;
}

.final-cta-body p {
    margin-bottom: 30px;
}

.first-div {
    border-right: 1px solid rgb(233, 227, 227);
    padding-right: 160px;
}

/*------------------------------------ footer ------------------------------------------------------------*/

footer {
    padding: 96px 250px 0px;
    border-top: 1px solid rgb(233, 227, 227);

    ul{
        list-style: none;
    }

    a{
        text-decoration: none;
        color: #08090B;
    }
}

.footer-container {
    border: 1px solid rgb(233, 227, 227);
    padding: 50px 26px 10px;
}

.minitlify-logo {
    width: 20px;
}

.company-name {
    font-size: 20px;
    font-weight: 800; 
}

.footer-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(233, 227, 227);
    padding-bottom: 25px;
}

.social-links > a {
    margin-left: 10px;
}

.footer-links {
    padding: 50px 0 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.nav-column > h4 {
    opacity: 0.6;
    margin-bottom: 15px;
}

.nav-column > ul > li > a{
    margin-bottom: 15px;
    display: inline-block;
}

.security-banner,.footer-bottom {
    display: flex;
    align-items: center;
    gap: 15px;
}

.security-banner {
    border: 1px solid rgb(233, 227, 227);
    padding: 20px 26px;
}



.security-banner > p {
    font-weight: 500;
}

.security-banner-img-container {
    width: 80px;
    border-radius: 50%;
}

.security-banner-img-container > img {
    width: 100%;
    border-radius: 50%;
    object-position: 5px;
    object-fit: cover;
}

.footer-bottom {
    padding: 20px 26px 50px;
    justify-content: space-between;
    border-left: 1px solid rgb(233, 227, 227);
    border-right: 1px solid rgb(233, 227, 227);
}

.status-indicator {
    padding: 5px 12px;
    border: 1px solid rgb(233, 227, 227);
    border-radius: 15px;
    background-color: #08090a08;
    font-size: .85rem;
    font-weight: 500;
}

.copyright {
    opacity: 0.5;
}

.theme-toggle {
    border: 1px solid rgb(233, 227, 227);
    padding: 5px 8px;
    border-radius: 15px;
}

.theme-toggle > button {
    border-radius: 50%;
}


